NODE_ENV=development
PORT=3000

JWT_ACCESS_SECRET=super_secret_ceremonial_jwt_key_32bytes
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_32bytes

PAYMENT_GATEWAY=mock
PAYMENT_WEBHOOK_SECRET=shadi_webhook_secret

SMS_PROVIDER=console
CORS_ORIGIN=*
